* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    font-size: 18px;
    background: ;
    color: #F2E600;
}

body {
    width: 800px;
    margin: 0 auto;
    background: #991347;
}

h1, h2 {
    color: #F2E600;
}

main {
    text-align: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #F2E600;
    color: #991347;
}

.nav-bar a {
    color: #991347;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    width: 130px;
    justify-content: space-between;
}

.about-class {
    margin-top: 50px;
}

.about-class-article p {
    margin-top: 10px;
    padding: 20px;
}

.about-team {
    width: 700px;
    margin-top: 50px;
    margin: 0 auto;
}

.cohorts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 5px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.info-card a:hover {
    display: block;
    background: #991347;
    width: 100%;
}

.info-card img {
    width: 200px;
    height: 200px;
}


/*Screens 768px and smaller (mainly tablets)*/
@media only screen and (max-width: 768px) {
    body {
        width: 500px;
    }

    .nav-bar ul {
        width: 110px;
    }

    .about-class-article p {
        margin-top: 0;
        padding: 40px;
    }

    .about-team {
        width: 300px;
        margin-top: 50px;
        margin: 0 auto;
    }

    .cohorts-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}

/*Screens 480px and smaller (mainly phones)*/
@media only screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    .nav-bar ul {
        width: 110px;
    }

    .about-class-article p {
        margin-top: 0;
        padding: 20px;
    }

    .about-team {
        width: 200px;
        margin-top: 50px;
        margin: 0 auto;
    }

    .cohorts-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}