* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    width: 800px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 10px;
}

.form-input {
    width: 300px;
    border: 1px solid;
    border-radius: 10px;
    line-height: 2;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 16px;
}

.btn {
    width: 322px;
    border: 1px solid;
    border-radius: 10px;
    height: 50px;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: white;
}

.text-center {
    text-align: center;
}


@media only screen and (max-width: 768px) {
    body {
        width: 500px;
    }
}

/*Screens 480px and smaller (mainly phones)*/
@media only screen and (max-width: 480px) {
    body {
        width: 300px;
    }

    main {
        align-items: normal;
    }

    .form-input {
        width: 280px;
    }

    .btn {
        width: 300px;
    }