* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F2E600;
}

.nav-bar a {
    display: block;
    border: 1px solid;
    width: 50px;
    text-align: center;
    padding: 5px 10px;
    background: #F2E600;
    color: #991347;
}

body {
    width: 800px;
    margin: 0 auto;
    background: #991347;
    color: #F2E600;
    font-family: "cinzel", sans-serif ;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-input {
    width: 300px;
    border: 1px solid #991347;
    border-radius: 10px;
    line-height: 2;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 16px;
}

.drop-down {
    margin-bottom: 15px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 2;
    border: 1px solid #991347;
    border-radius: 10px;
}

.btn {
    width: 322px;
    border: 1px solid #991347;
    border-radius: 10px;
    height: 50px;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #F2E600;
    color: #991347;
}

.form-label {
    margin-bottom: 10px;
}

.gender-select {
    margin-bottom: 15px;
}

.gender-select p {
    margin-bottom: 10px;
}

.gender-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gender-wrapper input {
    margin-left: -40px;
}

.text-center {
    text-align: center;
    color: black;
}


@media only screen and (max-width: 768px) {
    body {
        width: 500px;
    }
}

/*Screens 480px and smaller (mainly phones)*/
@media only screen and (max-width: 480px) {
    body {
        width: 300px;
    }

    main {
        align-items: normal;
    }

    .form-input {
        width: 280px;
    }

    .btn {
        width: 300px;
    }
}